<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="logDirectory" value="${specialfolder:folder=ApplicationData}/Holy Angels Maternity System/Logs"/>



  <targets>
    <target name="UserLogin"
            xsi:type="File"
            keepFileOpen="true"
            openFileCacheTimeout="30"
            fileAttributes="ReadOnly"
            fileName="${logDirectory}/UserLogin.txt"
            />

    <target name="AccountLog"
            xsi:type="File"
            keepFileOpen="true"
            openFileCacheTimeout="30"
            fileAttributes="ReadOnly"
            fileName="${logDirectory}/AccountLog.txt"
            />
    
    <target name="PatientInfo"
            xsi:type="File"
            keepFileOpen="true"
            openFileCacheTimeout="30"
            fileAttributes="ReadOnly"
            fileName="${logDirectory}/PatientInfo.txt"/>
    
    <target name="RecordLog"
           xsi:type="File"
            keepFileOpen="true"
            openFileCacheTimeout="30"
            fileAttributes="ReadOnly"
            fileName="${logDirectory}/RecordLog.txt"/>


    <target name ="ErrorLog"
        xsi:type="File"
        keepFileOpen="true"
        openFileCacheTimeout="30"
        fileAttributes="ReadOnly"
        fileName="${logDirectory}/ErrorLog.txt"
            />
  </targets>

  <rules>
    <logger name="userLogin" minlevel="Info" writeTo="UserLogin" />

    <logger name="patientInfo" minlevel="Info" writeTo="PatientInfo"/>
    <logger name="patientRecord" minlevel="Info" writeTo="RecordLog"/>
    <logger name="doctorAnalysis" minlevel="Info" writeTo="RecordLog"/>

    <logger name="registerAccount" minlevel="Info" writeTo="AccountLog" />
    <logger name="deleteAccount" minlevel="Info" writeTo="AccountLog" />
    <logger name="userForgotPassword" minlevel="Info" writeTo="AccountLog"/>

    <logger name="*" level="Error"  writeTo="ErrorLog"/>

  </rules>
</nlog>
